#container {
display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}
h1 {
    color: red;
    border: dotted 1px blue;
}
button{
    color: blue;
    border: solid 1px;
}
h4{
    font-weight: bold;
}

